#nav-bar {
  top:0;
  position: fixed;
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  width: 100%;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;

}

#nav-bar .logo {

  height: 80px;
  width: 80px;
  float: left;

}

#nav-bar .header {

  float: left;
  font-size: 2em;
  line-height: 70px;
  margin-left: 10px;

}

button.compose-bar {
    height: 45px;
    margin-top: 15px;
    width: 100px;
    border: 1px solid;
    border-radius: 3px;
    background-color: #e8fdfe;
    color: #49a494;
}

button.compose-bar:hover {
    height: 45px;
    margin-top: 15px;
    width: 100px;
    border: 1px solid;
    border-radius: 3px;
    background-color: #ffffff;
    color: #3c3c3c;
}